body {
	font-family: Helvetica;
	text-align: center;
}

.top {
	background-image: url("building.png");
	background-size: cover;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

a {
	font-size: 18px;
	color: white;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight:b bold;
}

p {
	font-size: 14px;
}

h4 {
	font-size: 23px;
	font-weight: bold;
	color: white;
}

#footer {
	text-align: left;
	font-size: 11px;
	color:white;
	background-color: dimgray;
}